<a href="https://colab.research.google.com/github/brandiehatch/capstone/blob/main/01_data_collection_capstone_New.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Census Data Collection

https://pypi.org/project/census/

In [ ]:
# pip install census
# pip install us

In [1]:
# from census import Census
# from us import states
import json
import csv
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

import os

%matplotlib inline


plt.style.use('fivethirtyeight')

# No warnings
import warnings 
warnings.simplefilter("ignore")

pd.options.display.max_columns=999

In [2]:
 data = requests.get('https://api.census.gov/data/2019/acs/acs1/pums?get=AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK&for=state&key=5c0093e6278fbed87e613713b22afcf5a24226eb')

In [3]:
# run in Google collab while continuing to EDA and such

df = pd.DataFrame(data=data.json())
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37
0,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,P,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,21,1,2,0,1,113021,0,0,2,0,4

In [4]:
df.shape

(3239554, 38)

In [12]:
df.to_csv('.C:\\Users\\hatch\\Desktop\\dsirfx-222\\capstone\\data.csv', index=False)

save washington and keep playing


in another notebook, start the other collections running

In [ ]:
# https://requests.readthedocs.io/en/latest/user/advanced/#body-content-workflow

with requests.get('https://httpbin.org/get', stream=True) as r:
    # Do things with the response here.

In [ ]:
f = open('data_wa.json')
   
# returns JSON object as 
# a dictionary
data_wa2 = json.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'data_wa.json'

In [ ]:
# using json library
load_data = json.loads(data.text)

In [ ]:
json_string = json.dumps(load_data)

In [ ]:
json_file = open("data.json", "w")

In [ ]:
json_file.write(json_string)
json_file.close()

In [ ]:
f = open('data.json')
   
# returns JSON object as 
# a dictionary
data = json.load(f)

In [ ]:
df = pd.read_json(data)

In [ ]:
df.head()

In [ ]:
#original attempt

In [ ]:
# read in data downloaded from: https://api.census.gov/data.html

data = os.listdir('./data')

pums_list = []
for file in data:
    if file.endswith('.json'):
        pums_list.append(f'./data/{file}')
print(pums_list)

['./data/pums2017_1.json', './data/pums2017_2.json', './data/pums2017_3.json', './data/pums2017_4.json', './data/pums2017_5.json', './data/pums2017_6.json', './data/pums2017_new.json', './data/pums2018_1.json', './data/pums2018_2.json', './data/pums2018_3.json', './data/pums2018_4.json', './data/pums2018_5.json', './data/pums2018_6.json', './data/pums2018_7.json', './data/pums2019_1.json', './data/pums2019_2.json', './data/pums2019_3.json', './data/pums2019_4.json', './data/pums2019_5.json', './data/pums2019_6.json', './data/pums2019_7.json']

In [ ]:
len(pums_list)

20

In [ ]:
df1 = pd.read_json('./data/pums2017_1.json', orient='records')
df1.head()

       0          1       2    3       4      5
0  PWGTP  SCIENGRLP    SEMP  SEX    SOCP  state
1     55          0       0    2  434131     50
2     56          0       0    1  435071     50
3     48          0  -10001    1      -1     50
4     51          0  -10001    1      -1     50

In [ ]:
df = pd.merge(map(pd.read_json, pums_list), ignore_index=True)

In [ ]:
df.head()

      0     1    2    3    4    5     6     7    8      9    10    11     12
0  PWGTP  AGEP  CIT  COW  ENG  ESR  FFSP  LANX  MAR  MULTG  NOC  OCCP  state
1     55    34    1    1    0    1     0     2    1      1    2  5330     50
2     56    34    1    1    0    1     0     2    1      1    2  5610     50
3     48    10    1    0    0    0     0     2    5      1    2     9     50
4     51     5    1    0    0    0     0     2    5      1    2     9     50

In [ ]:
df.shape

(64294405, 13)

In [ ]:
# work with James
os.getcwd()

'c:\\Users\\hatch\\Desktop\\dsirfx-222\\capstone'

In [ ]:
data = os.listdir('./data')

pums2017_list = []
for file in data:
    if file.endswith('.json') and '2017' in file:
        pums2017_list.append(f'./data/{file}')
print(pums2017_list)

['./data/pums2017_1.json', './data/pums2017_2.json', './data/pums2017_3.json', './data/pums2017_4.json', './data/pums2017_5.json', './data/pums2017_6.json']

In [ ]:
dfs = [pd.read_json(x, orient='records') for x in pums2017_list]

In [ ]:
len(dfs)

6

In [ ]:
for df in dfs:
    print(df.shape)

(3190041, 13)
(3190041, 7)
(3190041, 7)
(3190041, 10)
(3190041, 6)
(3190041, 6)

In [ ]:
test_df = dfs[0]
test_df.head()

      0     1    2    3    4    5     6     7    8      9    10    11     12
0  PWGTP  AGEP  CIT  COW  ENG  ESR  FFSP  LANX  MAR  MULTG  NOC  OCCP  state
1     55    34    1    1    0    1     0     2    1      1    2  5330     50
2     56    34    1    1    0    1     0     2    1      1    2  5610     50
3     48    10    1    0    0    0     0     2    5      1    2     9     50
4     51     5    1    0    0    0     0     2    5      1    2     9     50

In [ ]:
# begin to pull up first row to column headers
test_df.columns = test_df.loc[0]

In [ ]:
test_df.head()

0  PWGTP  AGEP  CIT  COW  ENG  ESR  FFSP  LANX  MAR  MULTG  NOC  OCCP  state
0  PWGTP  AGEP  CIT  COW  ENG  ESR  FFSP  LANX  MAR  MULTG  NOC  OCCP  state
1     55    34    1    1    0    1     0     2    1      1    2  5330     50
2     56    34    1    1    0    1     0     2    1      1    2  5610     50
3     48    10    1    0    0    0     0     2    5      1    2     9     50
4     51     5    1    0    0    0     0     2    5      1    2     9     50

In [ ]:
test_df.drop(0)

0       PWGTP AGEP CIT COW ENG ESR FFSP LANX MAR MULTG NOC  OCCP state
1          55   34   1   1   0   1    0    2   1     1   2  5330    50
2          56   34   1   1   0   1    0    2   1     1   2  5610    50
3          48   10   1   0   0   0    0    2   5     1   2     9    50
4          51    5   1   0   0   0    0    2   5     1   2     9    50
5          53   64   1   4   0   6    0    2   1     1   0  3255    47
...       ...  ...  ..  ..  ..  ..  ...  ...  ..   ...  ..   ...   ...
3190036     8   22   1   1   0   1    0    2   5     0  -1   940    25
3190037    81   36   1   1   1   6    0    1   5     0  -1  6260    39
3190038    52   18   1   0   0   6    0    2   5     0  -1     9    37
3190039   103   46   1   0   0   6    0    2   5     0  -1     9    36
3190040    44   47   1   0   0   6    0    2   2     0  -1     9    48

[3190040 rows x 13 columns]

In [ ]:
for df in dfs:
    df.columns = df.loc[0]
    df.drop(0, inplace=True)

In [ ]:
df.head()

0 PWGTP   WAGP WKEXREL WKL WRK state
1    55  30000       1   1   1    50
2    56  35000       1   1   1    50
3    48     -1       1   0   0    50
4    51     -1       1   0   0    50
5    53      0       7   2   2    47

In [ ]:
# create set to pull out only the columns that are common; first and then add too it

common_cols = set(dfs[0].columns)

for df in dfs[1:]:
    set(df.columns)
    common_cols = common_cols.intersection(set(df.columns))     # similar to +=1 but for this situation
print(common_cols)

{'PWGTP', 'state'}

In [ ]:
start_col = dfs[0]['state']

for df in dfs[1:]:
    print(start_col.equals(df['state']))

True
True
True
False
True

In [ ]:
dfs[0].head()

0 PWGTP AGEP CIT COW ENG ESR FFSP LANX MAR MULTG NOC  OCCP state
1    55   34   1   1   0   1    0    2   1     1   2  5330    50
2    56   34   1   1   0   1    0    2   1     1   2  5610    50
3    48   10   1   0   0   0    0    2   5     1   2     9    50
4    51    5   1   0   0   0    0    2   5     1   2     9    50
5    53   64   1   4   0   6    0    2   1     1   0  3255    47

In [ ]:
dfs[4].head()

0 PWGTP SCIENGRLP    SEMP SEX    SOCP state
1    55         0       0   2  434131    50
2    56         0       0   1  435071    50
3    48         0  -10001   1      -1    50
4    51         0  -10001   1      -1    50
5    53         1       0   2  291141    47

In [ ]:
a = dfs[0]
b = dfs[4]

mask = a['state'] != b['state']
a[mask]

0       PWGTP AGEP CIT COW ENG ESR FFSP LANX MAR MULTG NOC  OCCP state
1063660    31   44   1   1   0   1    0    2   1     1   2  3640    19
1063661    30   48   1   1   0   1    0    2   1     1   2  7315    19
1063662    93   18   1   1   0   1    0    2   5     1   2  6440    19
1063663    31   16   1   1   0   1    0    2   5     1   2  7260    19
1063664    28   11   1   0   0   0    0    2   5     1   2     9    19
...       ...  ...  ..  ..  ..  ..  ...  ...  ..   ...  ..   ...   ...
3190036     8   22   1   1   0   1    0    2   5     0  -1   940    25
3190037    81   36   1   1   1   6    0    1   5     0  -1  6260    39
3190038    52   18   1   0   0   6    0    2   5     0  -1     9    37
3190039   103   46   1   0   0   6    0    2   5     0  -1     9    36
3190040    44   47   1   0   0   6    0    2   2     0  -1     9    48

[2033162 rows x 13 columns]

In [ ]:
b[mask]

0       PWGTP SCIENGRLP    SEMP SEX    SOCP state
1063660    54         2       0   1  119XXX     9
1063661    79         0       0   1  537062    21
1063662   107         0       0   2  352021    12
1063663   106         0  -10001   1      -1    12
1063664   105         0  -10001   1      -1    12
...       ...       ...     ...  ..     ...   ...
3190036    45         0       0   1  47207X    22
3190037   123         0       0   1      -1    23
3190038    12         2       0   2      -1    55
3190039    67         0       0   1      -1    37
3190040    50         0       0   2  412010    51

[2033162 rows x 6 columns]

In [ ]:
b['PWGTP'].nunique()

1246

In [ ]:
a['state'].equals(b['state'])

False

In [ ]:
# add PWGTP and state together into a column to use as an identifier, that will let me merge on that column
# assumption is that all of the rows are the same in each column, except Sex grouping

# How many rows will that leave me with

In [ ]:
df.columns = df.iloc[0]
df = df[1:]
df.head()

1  55   30000  1  1  1  50
2  56   35000  1  1  1  50
3  48      -1  1  0  0  50
4  51      -1  1  0  0  50
5  53       0  7  2  2  47
6  49  425000  7  1  1  47

In [ ]:
# beginning of initial EDA - not ready yet
df_2017.isnull().sum().sum()

0

In [ ]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3190041 entries, 0 to 3190040
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
dtypes: object(7)
memory usage: 170.4+ MB

In [ ]:
df.shape

(6607535, 10)

In [ ]:
df.describe()

,PWGTP,MAR,SCH,SEX,ESR,CIT,COW,SCHL,AGEP,ST
count,6607535,6607535,6607535,6607535,6607535,6607535,6607535,6607535,6607535,6607535
unique,658,5,4,2,7,5,10,25,96,21
top,12,1,1,2,1,1,0,16,60,6
freq,341655,2821833,4931140,3368123,2989627,5546294,2691936,1194683,100281,1799774

In [ ]:
df = df.astype(int)
print(df.dtypes)

0
PWGTP    int32
MAR      int32
SCH      int32
SEX      int32
ESR      int32
CIT      int32
COW      int32
SCHL     int32
AGEP     int32
ST       int32
dtype: object

In [ ]:
df.describe().T

           count       mean        std  min   25%   50%   75%     max
0
PWGTP  6607535.0  21.403737  21.402890  1.0  10.0  16.0  25.0  1256.0
MAR    6607535.0   2.929162   1.849165  1.0   1.0   3.0   5.0     5.0
SCH    6607535.0   1.255811   0.559454  0.0   1.0   1.0   1.0     3.0
SEX    6607535.0   1.509740   0.499905  1.0   1.0   2.0   2.0     2.0
ESR    6607535.0   2.610820   2.499322  0.0   1.0   1.0   6.0     6.0
CIT    6607535.0   1.523912   1.232449  1.0   1.0   1.0   1.0     5.0
COW    6607535.0   1.296329   1.851761  0.0   0.0   1.0   1.0     9.0
SCHL   6607535.0  15.862573   6.028124  0.0  14.0  18.0  21.0    24.0
AGEP   6607535.0  42.199993  23.461670  1.0  22.0  43.0  61.0    96.0
ST     6607535.0  11.613724   6.303122  1.0   6.0  12.0  17.0    24.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607535 entries, 1 to 6607535
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   PWGTP   int32
 1   MAR     int32
 2   SCH     int32
 3   SEX     int32
 4   ESR     int32
 5   CIT     int32
 6   COW     int32
 7   SCHL    int32
 8   AGEP    int32
 9   ST      int32
dtypes: int32(10)
memory usage: 252.1 MB